{% extends '_layout/base.html' %}
{% load i18n %}
{% load static %}
{% block pageTitle %}
  {% trans 'Data details' %}
{% endblock %}

{% block pageHeadExtra %}
  <link href="{% static 'css/modal-dialog.css' %}" rel="stylesheet">
  <link href="{% static 'css/storage/data.css' %}" rel="stylesheet">
  <link href="{% static 'css/storage/show_data.css' %}" rel="stylesheet">
{% endblock %}

{% block pageBody %}
  {% include '_component/header.html' %}
  {% trans 'N/A' as NA %}
  <div class="Breadcrumb">
    <div class="Breadcrumb__item">
      <a href="/" style="cursor: pointer;"><span>{% trans 'Materials Genome Engineering DataBases' %}</span></a>
    </div>
    <img class="Breadcrumb__arrow" src="{% static 'webpack/img/nav-arrow.png' %}">
    <div class="Breadcrumb__item">
      <a href="/search" style="cursor: pointer;"><span>{% trans 'Material Database' %}</span></a>
    </div>
    <img class="Breadcrumb__arrow" src="{% static 'webpack/img/nav-arrow.png' %}">
    <div class="Breadcrumb__item">
      <a href="javascript:void(0)" style="cursor: pointer;"><span>{% trans 'Data detail' %}</span></a>
    </div>
  </div>

  <!-- 数据 -->
  <div class="page container">   

    <!-- 右上角导出部分 -->
    <div class="top-right">
      <div class="btn-group">
        {% if can_review %}
          <button id="approve-btn" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
                  data-id="{{ meta.id }}" title="{% trans 'Approve' %}">
            <span>{% trans 'Approve' %}</span>
          </button>1
          <button id="disapprove-btn" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom"
                  data-id="{{ meta.id }}" title="{% trans 'Disapprove' %}">
            <span>{% trans 'Disapprove' %}</span>
          </button>
        {% endif %}
        {% if request.user.username == meta.username %}
          <button class="btn btn-default btn-sm btn-edit" data-toggle="tooltip" data-placement="bottom"
                  data-id="{{ meta.id }}" title="{% trans 'Edit' %}">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-default btn-sm btn-delete-data"
                  data-id="{{ meta.id }}" data-tid="{{ meta.template_id }}" data-title="{{ meta.title }}"
                  data-toggle="tooltip" data-placement="bottom" title="{% trans 'Delete' %}">
            <i class="fa fa-trash"></i>
          </button>
        {% endif %}
        <button class="btn btn-default btn-sm btn-add-to-cart"
                data-id="{{ meta.id }}" data-tid="{{ meta.template_id }}" data-title="{{ meta.title }}"
                data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add to download list' %}">
          <i class="fa fa-plus"></i>
        </button>


        
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-download"></i>
          {% trans 'Export' %}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a onclick="export_data('{{ meta.id }}', 'JSON')">JSON</a></li>
          <li><a onclick="export_data('{{ meta.id }}', 'XML')">XML</a></li>
          <li><a onclick="export_data('{{ meta.id }}', 'XLSX')">EXCEL</a></li>
        </ul>
      </div>
    </div>

    <!-- 标题部分 -->
    <div class="row" style="display: flex; align-items: center">

      <!-- 提醒信息 -->
      <div class="col-sm-2" style="padding-right:0;padding-left:0;">
        <div class="state text-center">
          {% if meta.approved %}
            <span class="label label-success">
            <i class="fa fa-check"></i>
            {% trans 'Approved' %}
          </span>
          {% elif meta.disapproved %}
            <span class="label label-danger">
            <i class="fa fa-ban"></i>
            {% trans 'Disapprove' %}
          </span>
          {% else %}
            <span class="label label-warning">
            <i class="fa fa-warning"></i>
            {% trans 'Pending Review' %}
          </span>
          {% endif %}
        </div>
      </div>
      <!-- 标题 -->
      <div class="col-sm-6" style="margin-left:-50px;">
        <h2 id="d-title"> {{ meta.title }}</h2>
      </div>
    </div>

    <!-- 元信息部分 -->
    <div class="dl-horizontal">
      <!-- 翻译 -->
      <dt>{% trans 'Created at' %}</dt>
      <dd id="d-datetime">{{ meta.add_time|default:NA }}</dd>
      <dt>{% trans 'Abstract' %}</dt>
      <dd id="d-abstract">{{ meta.abstract|default:NA }}</dd>
      <dt>{% trans 'Keywords' %}</dt>
      <dd id="d-keywords">
        {% if meta.keywords %}
          {% for keyword in meta.keywords %}
            <span class="label label-info">{{ keyword }}</span>
          {% endfor %}
        {% else %}
          {{ NA }}
        {% endif %}

      </dd>
      <dt>{% trans 'DOI' %}</dt>
      <dd>{{ meta.doi|default:NA }}</dd>
      <dt>{% trans 'Author' %}</dt>
      <dd id="d-author">{{ meta.user_real_name }}</dd>
      <dt>{% trans 'Contributor' %}</dt>
      <dd id="d-contributor">{{ meta.contributor|default:NA }}</dd>
      <dt>{% trans 'Responsible Institution' %}</dt>
      <dd id="d-institution">{{ item.institution|default:NA }}</dd>
      {% if request.user.username == meta.username %}
        <dt>{% trans 'Uploaded Via' %}</dt>
        {% with_default key='via' default='' as url %}
        <dd id="d-via">
          {% if url %}
            {% trans 'File' %}
            <a href="{{ url }}"> ({% trans 'Download Here' %})</a>
          {% else %}
            {% trans 'Web Form' %}
          {% endif %}
        </dd>
      {% endif %}
      {% if request.user.is_root %}
        <dt>{% trans 'Template ID' %}</dt>
        <dd id="d-tid">
          {{ meta.template_id }}
        </dd>
      {% endif %}
      <dt>{% trans 'Template Name' %}</dt>
      <dd>{{ meta.template.title|default:NA }}</dd>
    </div>

    <!-- 元信息与数据内容分割线 -->
    <div class="dividing dividing-fix"></div>


    <!-- 有待 -->
    {% if not meta.pending %}
      <div class="reviewer">
        <h3>{% trans 'Reviewer' %}</h3>
        <div class="dl-horizontal">
          <dt>{% trans 'Real Name' %}</dt>
          <dd>{{ meta.reviewer.real_name }}</dd>
          <dt>{% trans 'Institution' %}</dt>
          <dd>{{ meta.reviewer.institution }}</dd>
          {% if meta.reviewer.tel %}
            <dt>{% trans 'Tel' %}</dt>
            <dd>{{ meta.reviewer.tel }}</dd>
          {% endif %}
          <dt>{% trans 'Email' %}</dt>
          <dd>{{ meta.reviewer.email }}</dd>
          {% if meta.disapproved %}
            <dt>{% trans 'Reasons of Disapproval' %}</dt>
            <dd style="color: red;">
              {% for reason in meta.reason_list %}
                {{ reason }};&nbsp
              {% endfor %}
            </dd>
          {% endif %}
        </div>
      </div>
      <div class="dividing dividing-fix"></div>
    {% endif %}

    <!-- 主体数据 -->
    <div id="data-content">
      <h3>{% trans 'Content' %}</h3>
      <div id="data-content-inner" style="padding: 4px;">
      </div>
    </div>

    <!-- 分割线 -->
    <div class="dividing dividing-fix"></div>
    {% if reasons %}
      <div id="reason-div" style="display: none">
        <form style="margin-left: 20px">
          {% for reason in reasons %}
            <div class="checkbox"><input name="{{ reason.value }}" type="checkbox"
                                         data-reason-id="{{ reason.value }}"><label>{{ reason.text }}</label>
            </div>
          {% endfor %}
        </form>
      </div>
    {% endif %}
    
        <!-- 其他信息 -->
        <div id="data-source">
          <h3>{% trans 'Other Info' %}</h3>
          <div class="dl-horizontal">
            <dt>{% trans 'Source' %}</dt>
            <dd id="d-src"></dd>
            <dt>{% trans 'Reference' %}</dt>
            <dd id="d-ref">{{ meta.reference|default:'N/A' }}</dd>
            <dt>{% trans 'Methods' %}</dt>
            <dd id="d-methods"></dd>
            {% for key, item in meta.other_info.items %}
              <dt>{{ key }}</dt>
              <dd>{{ item }}</dd>
            {% endfor %}
          </div>
        </div>
        <div class="dividing dividing-fix"></div>
  </div>

  {% include '_component/footer.html' %}
{% endblock %}

{% block pageFootExtra %}
  <script src="{% static 'js/storage/storage.js' %}"></script>
  <script src="{% static 'js/storage/show_data.js' %}"></script>
{% endblock %}
