.errorbox {
  color: #666;
  text-align: center;
  margin: auto;
  font-size: 14px;
}

.errorbox div {
  margin: 60px 30px 30px;
}

.errorpage h1 {
  font-size: 30px;
  line-height: 100px;
  font-weight: 400;
  color: #456;
}

.errorpage h2 {
  font-size: 24px;
  color: #666;
  line-height: 1.5em;
}

.errorpage h3 {
  color: #456;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.errorpage hr {
  max-width: 800px;
  margin: 18px auto;
  border: 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid white;
}

.errorpage img {
  max-width: 40vw;
  display: block;
  margin: 40px auto;
}

.errorpage a {
  line-height: 100px;
  font-weight: 400;
  color: #4A8BEE;
  font-size: 18px;
  text-decoration: none;
}

.errorpage div {
  margin: auto 20px;
}

.errorpage.go-back {
  cursor: pointer;
}

.errorpage img {
  display: block;
  margin: 40px auto;
}