.docs-container {
  margin-top: 60px;
}

.docs-section {
  margin-bottom: 60px;
}

.docs-section > p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.docs-sidebar li > ul > li > a {
  font-size: 14px;
  padding-left: 30px;
}

.docs-sidebar li > ul > li.active {
  border-left: 2px solid #337ab7;
}
.docs-sidebar li > ul > li.active > a {
  text-decoration: none;
  background: #eee;
}

.docs-sidebar > ul {
  font-size: 16px;
}

.docs-sidebar a {
  color: #767676;
}

@media (min-width: 1200px) {
  .docs-sidebar.affix, .docs-sidebar.affix-bottom {
    width: 263px;
  }
}

@media (min-width: 992px) {
  .docs-sidebar.affix {
    position: fixed;
    top: 125px;
  }
  .docs-sidenav.affix, .docs-sidenav {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .docs-sidebar.affix, .docs-sidebar.affix-bottom {
    width: 213px;
  }
}

@media (min-width: 768px) {
  .docs-sidebar {
    padding-left: 15px;
  }
}
