{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="media-url-prefix" content="{{ media_url }}">
  <base href="{{ BASE_URL }}">
  <title>{% block pageTitle %} {% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="bookmark" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link href="{% static_ver 'css/vendor/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static_ver 'css/vendor/material-icons.min.css' %}" rel="stylesheet">
  <link href="{% static_ver 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static_ver 'css/main.css' %}" rel="stylesheet">
  <link href="{% static_ver 'webpack/vendors.css' %}" rel="stylesheet">
  <link href="{% static_ver 'webpack/temp.css' %}" rel="stylesheet">
  {% block pageHeadExtra %}

  {% endblock %}
</head>
<body class="noscrollbar" style="min-width: 700px">
<div id="wrap">
  {% block pageBody %}
  {% endblock %}
</div>

<script src="{% static_ver 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static_ver 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static_ver 'js/vendor/doT.min.js' %}"></script>
<script src="{% static_ver 'js/vendor/jquery.preloader.min.js' %}"></script>
{% if LANGUAGE_CODE == 'zh-hans' %}
  <script src="{% url 'javascript-catalog' %}?v={% version_code %}-zh"></script>
{% elif LANGUAGE_CODE == 'en-us' %}
  <script src="{% url 'javascript-catalog' %}?v={% version_code %}-en"></script>
{% endif %}
<script src="{% url 'site_urls' %}?v={% version_code %}"></script>
<script src="{% static_ver 'js/main.js' %}"></script>
<script>
  // global notification
  $(function () {
    var sys_title = "{{ sys_notification_title }}";
    var sys_id = "{{ sys_notification_id }}";
    var sys_content = "{{ sys_notification_content }}";
    var last_read = localStorage.getItem("last_read_sys_id");
    if (sys_id !== "" && last_read !== sys_id) {
      $.showModal({
        title: sys_title,
        message: sys_content,
        onHide: function () {
          localStorage.setItem("last_read_sys_id", sys_id);
        }
      })
    }
  });

</script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?3539879b12eec3ec91d7f557ef213a59";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
  
{% block pageFootExtra %}
{% endblock %}

</body>
</html>
