{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="media-url-prefix" content="{{ media_url }}">
    <base href="{{ BASE_URL }}">
    <title>{% block pageTitle %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="bookmark" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/vendor/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendor/material-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'webpack/vendors.css' %}" rel="stylesheet">
    {% block pageHeadExtra %}

    {% endblock %}
</head>
<body class="noscrollbar" style="min-width: 700px">
<div id="wrap">
    {% block pageBody %}
    {% endblock %}
</div>

<script>
    // global notification
    $(function () {
        var sys_title = "{{ sys_notification_title }}";
        var sys_id = "{{ sys_notification_id }}";
        var sys_content = "{{ sys_notification_content }}";
        var last_read = localStorage.getItem("last_read_sys_id");
        if (sys_id !== "" && last_read !== sys_id) {
            $.showModal({
                title: sys_title,
                message: sys_content,
                onHide: function () {
                    localStorage.setItem("last_read_sys_id", sys_id);
                }
            })
        }
    });

</script>

{% block pageFootExtra %}
{% endblock %}

</body>
</html>
