{% extends '_layout/webpack/base.html' %}
{% load static %}
{% load i18n %}
{% block pageTitle %}
  {% trans 'Material Genetic Engineering Database' %}
{% endblock %}

{% block pageHeadExtra %}
  <link href="{% static 'webpack/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/vendor/slick.css' %}" rel="stylesheet">
{% endblock %}

{% block pageBody %}

  {% include '_component/header_old2.html' with show_func=False %}

  <div id="banner">
    <img width="100%" src="{% static 'img/banner.png' %}">
    <div class="container">
      <img width="100%" src="{% static 'img/index-text.png' %}">
    </div>
  </div>
  <div id="entries">
    <div id="line"></div>
    <div class="container">
      <div id="dots">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div id="benzene">
        <div>
          <a href="//matcloud.mgedata.cn/">
            <img src="{% static 'img/benzene.png' %}">
            <div class="inner-wrapper">
              <img class="logo" src="{% static 'img/btn1.png' %}">
            </div>
            <div class="title">
              <p class="chn">材料高通量第一性原理计算引擎</p>
              <p class="eng">High-Throughput Computational Engine</p>
            </div>
          </a>
        </div>
        <div>
          <a href="http://apot.mgedata.cn/InteratomicPotentials/">
            <img src="{% static 'img/benzene.png' %}">
            <div class="inner-wrapper">
              <img class="logo" src="{% static 'img/btn2.png' %}">
            </div>
            <div class="title">
              <p class="chn">原子势库</p>
              <p class="eng">Interatomic Potentials Database</p>
            </div>
          </a>
        </div>
        <div>
          <a href="{% url 'search:index' %}">
            <img src="{% static 'img/benzene.png' %}">
            <div class="inner-wrapper">
              <img class="logo" src="{% static 'img/btn3.png' %}">
            </div>
            <div class="title">
              <p class="chn">材料数据库</p>
              <p class="eng">Materials Database</p>
            </div>
          </a>
        </div>
        <div>
          <a href="//ocpmdm.mgedata.cn/">
            <img src="{% static 'img/benzene.png' %}">
            <div class="inner-wrapper">
              <img class="logo" src="{% static 'img/btn4.png' %}">
            </div>
            <div class="title">
              <p class="chn">材料数据挖掘系统</p>
              <p class="eng">Materials Data Mining System</p>
            </div>
          </a>
        </div>
        <div>
          <a href="{% url 'app_entrance' %}">
            <img src="{% static 'img/benzene.png' %}">
            <div class="inner-wrapper">
              <img class="logo" src="{% static 'img/xrd.png' %}">
            </div>
            <div class="title">
              <p class="chn">高通量实验数据<br/>处理软件包</p>
              <p class="eng">High-throughput Experimental Data Processing Software</p>
            </div>
          </a>
        </div>
        <div>
          <a href="http://mtm.mgedata.cn/index/showTable/">
            <img src="{% static 'img/benzene.png' %}">
            <div class="inner-wrapper">
              <img class="logo" src="{% static 'img/mtm.png' %}">
            </div>
            <div class="title">
              <p class="chn">论文信息辅助提取软件</p>
              <p class="eng">Paper Information Assisted Extraction Software</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% include '_component/billboard.html' %}
  {% include '_component/footer.html' %}
{% endblock %}

{% block pageFootExtra %}
  <script src="{% static 'js/vendor/slick.min.js' %}"></script>
  <script src="{% static 'webpack/index.js' %}"></script>
  <script>
    $(function(){
      $('#benzene').slick({
        slidesToShow: 4,
        slidesToScroll: 4
      });
    })

  </script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
